@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: 0 0% 98.8235%;
  --foreground: 0 0% 9.0196%;
  --card: 0 0% 98.8235%;
  --card-foreground: 0 0% 9.0196%;
  --popover: 0 0% 98.8235%;
  --popover-foreground: 0 0% 32.1569%;
  --primary: 151.3274 66.8639% 66.8627%;
  --primary-foreground: 153.3333 13.0435% 13.5294%;
  --secondary: 0 0% 99.2157%;
  --secondary-foreground: 0 0% 9.0196%;
  --muted: 0 0% 92.9412%;
  --muted-foreground: 0 0% 12.549%;
  --accent: 0 0% 92.9412%;
  --accent-foreground: 0 0% 12.549%;
  --destructive: 9.8901 81.982% 43.5294%;
  --destructive-foreground: 0 100% 99.4118%;
  --border: 0 0% 87.451%;
  --input: 0 0% 96.4706%;
  --ring: 151.3274 66.8639% 66.8627%;
  --chart-1: 151.3274 66.8639% 66.8627%;
  --chart-2: 217.2193 91.2195% 59.8039%;
  --chart-3: 258.3117 89.5349% 66.2745%;
  --chart-4: 37.6923 92.126% 50.1961%;
  --chart-5: 160.1183 84.0796% 39.4118%;
  --sidebar: 0 0% 98.8235%;
  --sidebar-foreground: 0 0% 43.9216%;
  --sidebar-primary: 151.3274 66.8639% 66.8627%;
  --sidebar-primary-foreground: 153.3333 13.0435% 13.5294%;
  --sidebar-accent: 0 0% 92.9412%;
  --sidebar-accent-foreground: 0 0% 12.549%;
  --sidebar-border: 0 0% 87.451%;
  --sidebar-ring: 151.3274 66.8639% 66.8627%;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
  --radius: 0.4rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: 0 0% 7.0588%;
  --foreground: 214.2857 31.8182% 91.3725%;
  --card: 0 0% 9.0196%;
  --card-foreground: 214.2857 31.8182% 91.3725%;
  --popover: 0 0% 14.1176%;
  --popover-foreground: 0 0% 66.2745%;
  --primary: 154.898 100% 19.2157%;
  --primary-foreground: 152.7273 19.2982% 88.8235%;
  --secondary: 0 0% 14.1176%;
  --secondary-foreground: 0 0% 98.0392%;
  --muted: 0 0% 12.1569%;
  --muted-foreground: 0 0% 63.5294%;
  --accent: 0 0% 19.2157%;
  --accent-foreground: 0 0% 98.0392%;
  --destructive: 6.6667 60% 20.5882%;
  --destructive-foreground: 12 12.1951% 91.9608%;
  --border: 0 0% 16.0784%;
  --input: 0 0% 14.1176%;
  --ring: 141.8919 69.1589% 58.0392%;
  --chart-1: 141.8919 69.1589% 58.0392%;
  --chart-2: 213.1169 93.9024% 67.8431%;
  --chart-3: 255.1351 91.7355% 76.2745%;
  --chart-4: 43.2558 96.4126% 56.2745%;
  --chart-5: 172.4551 66.0079% 50.3922%;
  --sidebar: 0 0% 7.0588%;
  --sidebar-foreground: 0 0% 53.7255%;
  --sidebar-primary: 154.898 100% 19.2157%;
  --sidebar-primary-foreground: 152.7273 19.2982% 88.8235%;
  --sidebar-accent: 0 0% 19.2157%;
  --sidebar-accent-foreground: 0 0% 98.0392%;
  --sidebar-border: 0 0% 16.0784%;
  --sidebar-ring: 141.8919 69.1589% 58.0392%;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
  --radius: 0.4rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
